@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
img{
    width: 100%;
    object-fit: cover;
}
/* Contenedor */
.contenedor{
    background-color: rgb(245, 245, 245);
    padding-bottom: 40px;    
}
/* Header -Menu */
.header{
    padding-top: 10px;
    width: 90%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Logo */
.logo{
    font-weight: 900;
    font-size: 20px;
}
.logo span{
    color: red;
}
.hamburguesa{
    width: 30px;
}
@media (min-width:768px) {
    .hamburguesa{
        display: none;
    }
}
.hamburguesa:hover{
    cursor: pointer;
}
/* Navegacion */
.menu{
    display: none;
}

.mm2{
    display: none;
}
@media (min-width:768px) {
    .menu{
        display: flex;
    }
}
.navegacion{
    display: flex;
    align-items: center;
    padding-left: 0;
    list-style: none;
}
@media (min-width:768px) {
    .navegacion{
        gap: 30px;
    }
}
@media (min-width:992px) {
    .navegacion{
        gap: 50px;
    }
}
.navegacion a{
    text-decoration: none;
    color: rgb(97, 97, 97);
    font-weight: 400;
    font-size: 15px;
}
.navegacion a:hover{
    color: black;
}
.navegacion li:last-child{
    display: flex;
    align-items: center;
    gap: 15px;
}
.navegacion li:last-child a{
   font-weight: 700; 
}
.navegacion li:first-child a:first-child{
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid red;
}
.navegacion li:last-child a:last-child:hover{
    background-color: white;
    color: red;
}
/* Información Banner */
.presentacion{
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
@media (min-width:768px) {
    .presentacion{
        flex-direction: row;
    }
}
/* Información */
.informacion{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (min-width:768px) {
    .informacion{
        text-align: start;
        align-items: flex-start;
    }
}
.informacion--boton button{
    padding: 10px;
    background-color: red;
    border: 1px solid red;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
}
.informacion--boton button:hover{
    background-color: white;
    color: red;
    cursor: pointer;
}
/* Información imagen */
.presentacion--imagen{
    max-width: 300px;
    filter: drop-shadow(0 1mm 3mm rgba(255,166,0,0.468));
}
@media (min-width:456px) {
    .presentacion--imagen{
        max-width: 500px;
    }
}
@media (min-width:1024px) {
    .presentacion--imagen{
        max-width: 800px;
    }
}
/* Seccion platos */
.comida{
    width: 90%;
    margin-inline:auto;
}
.platos{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 85px;
}
@media (min-width:768px) {
    .platos{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:992px) {
    .platos{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.comida--titulo{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 85px;
}
@media (min-width:768px) {
    .comida--titulo{
        text-align: start;
    }
}
/* Contenedor de tarjetas */
.plato{
    width: 80%;
    margin-inline:auto;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgba(196, 196, 196, 0.426);
}
.plato img{
    width: 150px;
    filter: drop-shadow(0 0 0.9rem orange);
    margin-top: -85px;
}
.plato p{
    font-size: 15px;
    color: rgb(63, 63, 63);
}
.plato--info{
    width: 100%;
    
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}
.plato--info p{
    font-weight: 900;
}
.plato--info button{
    background-color: red;
    color: white;
    font-weight: 900;
    padding: 5px 12px;
    border-radius: 50%;
    font-size: 25px;
}
.plato--info button:hover{
    cursor: pointer;
}



@media screen and (max-width: 767px){
    /* .navegacion {
        display: none;
    } */
    .mm2 {
        display: inherit;
       
    }
}
/* navbar */
.btnm2{
    font-size: medium;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 10px;
    border: 0px solid red;
}

.header a{
    text-decoration: none;
}

.header .overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color:  black;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s 0s;
    font-weight: 700;
    color: red;

}

.header .overlay a:hover, 
.header .overlay a:focus{
    color: white;
}

.header .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

@media screen and (max-height:450px){
    .header .overlay a{
        font-size: 20px;
    }

    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

